/*1.全部都設100%*/
*{
  height:100%;
  font-family: 微軟正黑體;
}
html,body{
  margin: 0px;padding: 0px; 
}
/*2.父層設相對定位relative*/
.wrap{
  position: relative;
  background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  width:100%;
}
/*3.垂直置中設絕對定位absolute*/
.box{
  width: 300px;
  height: 300px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  text-align:center;
}

#showtime{
  color:#fff;
  font-size: 200px;
}